:root{
--background--mobile: #00161C;
--background-white: #FFFFFF;
--background-light-blue: #aeb4cf;
--background-light-ash: #F7F4F4;
--background-medium-ash: #D9D9D9;


--border-header-mobile: #103D4A;


--button-pink: hotpink;


--fuente-light-ash: #666666;
--fuente-dark-ash: #4F4C4C;


--plans-card-start: #035A76;
--plans-card-ultra: #690F8E;
--plans-card-mega: #B00024;


--font-link: #0006FF;


--background-footer: #333333;
}